# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Build
dist
build

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Misc
*.md
!README.md
.env*.local
